.major-list-page {
  display: flex;
  flex-direction: column;
  max-width: 959px;
  margin: auto;
  margin-top: 148px;

  &__heading {
    font-size: 36px;
    line-height: 49px;
    margin-right: 8px;
    max-width: 580px;
  }

  &__underline {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #eca448;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    margin-bottom: 12px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      opacity: 0.9;

      .major-list-page__item-title {
        text-decoration: underline;
      }
    }
  }

  &__item-title {
    margin-left: 8px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
  }

  &__programs-description {
    font-weight: 500;
  }

  &__program {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 8px;

    &:before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      margin-right: 8px;
      border-radius: 50%;
      background: #4b92cb;
    }
  }

  &__specialty {
    margin-bottom: 8px;
  }

  &__specialty-name {
    margin-left: 8px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
  }
}
