.event-info-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 795px;
  margin: auto;
  margin-top: 64px;

  &__hide-desktop {
    @media (min-width: 600px) {
      display: none;
    }
  }

  @media (max-width: 600px) {
    margin-top: 100px !important;
    margin-bottom: 120px;
    margin-left: 12px;
    margin-right: 12px;

    &__details {
      top: -100px !important;
    }

    &__title {
      font-size: 36px !important;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 100%;

    padding: 20px;
    border-radius: 24px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(166, 173, 201, 0.2);
  }

  &__summary {
    display: flex;
    flex-direction: column;
  }

  &__type {
    font-size: 22px;
    line-height: 28px;
    color: #666;
  }

  &__title {
    font-family: "Open Sans", sans-serif;
    max-width: 85%;
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 2px;
    font-weight: 600;
    color: rgb(34, 88, 161);
  }

  &__description {
    font-size: 18px;
    line-height: 25px;
  }

  &__details {
    position: absolute;
    right: 20px;
    top: -24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
    text-align: right;
  }

  &__date {
    font-size: 30px;
    line-height: 41px;
  }

  &__time-range {
    font-size: 36px;
    line-height: 49px;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &__place {
    display: flex;
    color: #4a6b99;
    font-size: 16px;
    line-height: 21px;
    height: 21px;

    &--online {
      color: #3c9858;
    }
  }

  &__actions {
    // display: flex;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    gap: 8px;

    // > * {
    //   margin-right: 8px;
    // }
  }

  &__places-left {
    font-size: 11px;
    line-height: 15px;

    &--joined {
      color: #64ab64;
    }

    &--low {
      color: #cb5858;
    }
  }

  &__icon {
    // TODO: copied from card, reuse
    display: inline-block;
    height: 100%;
    margin-right: 8px;
  }

  &__members {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
  }

  &__heading {
    font-size: 32px;
    margin-bottom: 24px;
  }

  &__member {
    margin-bottom: 8px;
    font-size: 19px;
  }
}
