.event-list-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 627px;
  margin: auto;

  @media (max-width: 600px) {
    > h1 {
      padding: 0 12px;
    }

    &__group-date {
      padding: 0 12px;
    }

    &__module-text {
      padding: 0 12px;
    }
  }

  &__search {
    position: sticky;
    top: 0;
    width: 100%;
    background: #ffffff;
  }

  &__group-date {
    // position: sticky;
    // top: 128px;
    width: 100%;
    font-size: 36px;
    background: #ffffff;
  }

  &__module-text {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
  }
}
