.event-list-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 627px;
  margin: auto;

  &__search {
    position: sticky;
    top: 0;
    width: 100%;
    background: #ffffff;
  }

  &__group-date {
    // position: sticky;
    // top: 128px;
    width: 100%;
    font-size: 36px;
    background: #ffffff;
  }
}
