.education-relation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start !important;

    &__type {
      margin-top: 8px;
      margin-bottom: 4px;
    }
  }

  &__type {
    margin-right: 6px;
  }

  &__code {
    font-weight: 500;
    color: #6a6969;
    padding: 1px 6px;
    margin-right: 6px;
    background: #d8d8d8;
    border: 1px solid rgba(151, 151, 151, 0.17);
    border-radius: 4px;
  }

  &__name {
    border-bottom-width: 2px;
    border-bottom-style: solid;

    &--major {
      border-bottom-color: #eca448;
    }

    &--specialty {
      border-bottom-color: #7e64ed;
    }

    &--program {
      border-bottom-color: #4b92cb;
    }
  }
}
