.achievement-form-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
  margin-top: 24px;
  margin-bottom: 80px;
  font-family: "Open Sans", sans-serif;

  &__heading {
    font-size: 32px;
    margin-bottom: 12px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
  }

  &__actions {
    display: grid;
    grid-auto-flow: row;
    justify-content: flex-start;
    gap: 12px;
    margin-top: 12px;

    a {
      text-decoration: none;
    }
  }
}
