.education-summary {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding-top: 16px;
  z-index: 1; // TODO: осторожно

  @media (max-width: 600px) {
    position: initial !important;

    &__summary {
      flex-direction: column;
    }

    &__type {
      width: 100% !important;
    }
  }

  &__button {
    // TODO: вынести в компонент
    width: fit-content;
    padding: 4px 32px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
    background: #5189a5;
    color: #ffffff;
    transition: background 0.2s;
    cursor: pointer;

    &:hover {
      background: darken($color: #5189a5, $amount: 5);
    }

    &--red {
      background: #ab6464;

      &:hover {
        background: darken($color: #ab6464, $amount: 5);
      }
    }
  }

  &__summary {
    display: flex;
    margin: 8px 0;
  }

  &__title {
    font-size: 36px;
    line-height: 49px;
    flex: 1;
    margin-right: 8px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 17px;
  }

  &__type {
    width: 320px;
    align-self: flex-end;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
    padding: 6px 40px;
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 16px;

    &--major {
      background: #eca448;
    }

    &--specialty {
      background: #7e64ed;
    }

    &--program {
      background: #4b92cb;
    }
  }

  &__relations {
    display: grid;
    grid-auto-flow: row;
    gap: 12px;
    max-width: 440px;
  }
}
