.event-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 14px 16px; // TODO: подравнять
  border-radius: 4px;
  color: #000000;
  background: #e5ecf1;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: lighten($color: #e5ecf1, $amount: 2);
  }

  &__top-line {
    display: flex;
    justify-content: space-between;
    height: 14px;
    margin-bottom: 16px;
  }

  &__date {
    display: flex;
    color: #785db9;
    font-size: 14px;
    line-height: 17px;
    height: 17px;
  }

  &__place {
    display: flex;
    color: #4a6b99;
    font-size: 14px;
    line-height: 17px;
    height: 17px;

    &--online {
      color: #3c9858;
    }
  }

  &__type {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
  }

  &__title {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 1px;
  }

  &__time-range {
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin-bottom: 16px;
  }

  &__bottom-line {
    display: flex;
    justify-content: space-between;
    // height: 22px; // TODO: сделать неявным
  }

  &__actions {
    display: flex;
    align-items: center;

    > * {
      margin-right: 8px;
    }
  }

  &__places-left {
    font-size: 11px;
    line-height: 15px;

    &--joined {
      color: #64ab64;
    }

    &--low {
      color: #cb5858;
    }
  }

  &__icon {
    display: inline-block;
    height: 100%;
    margin-right: 8px;
  }
}
