.edit-profile-page {
  display: flex;
  flex-direction: column;
  max-width: 959px;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 40px;

  &__heading {
    font-size: 32px;
    margin-bottom: 32px;
  }

  &__form {
    display: grid;
    grid-auto-flow: row;
    gap: 12px;
  }
}
