.program-page {
  display: flex;
  flex-direction: column;
  max-width: 959px;
  margin: auto;
  margin-top: 124px;

  &__text-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 25px;
    max-width: 800px;
  }

  &__text-block-title {
    position: sticky;
    width: 100%;
    top: 203px; // TODO: придется считать через js
    padding-bottom: 8px;
    font-weight: 600;
    background: #ffffff;
  }

  &__text-block-content {}
}
