.achievements-approval-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
  margin-top: 24px;
  margin-bottom: 80px;
  font-family: "Open Sans", sans-serif;

  &__heading {
    font-size: 32px;
    margin-bottom: 32px;
  }

  &__cards {
    display: grid;
    grid-auto-flow: row;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 8px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .achievement-card {
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
      background: lighten($color: #e5ecf1, $amount: 3);
      transform: translateY(-2px);
    }
  }
}
